* {
    margin: 0px;
}
.main-container {
    background-color: lightblue;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.input-element {
    margin: 10px;
    padding: 10px;
    width: 400px;
}
.create-button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

